<div class="w-full md:p-8 p-4">
	<div class="mb-4">
		<h2 class="font-bold text-2xl">Tu cuenta</h2>
		<p>Visualiza y modifica tus datos personales</p>
	</div>
	<div class="w-full flex md:flex-row flex-col gap-8">
		<div class="md:h-auto md:w-[60%] w-full bg-[#F9FAFB] p-6 rounded-lg">
			<h3 class="font-bold text-lg">Editar</h3>
			<form class="flex flex-col" action="/account/update" method="POST" enctype="multipart/form-data">
				<div class="md:flex mt-4 gap-x-6">

					<div class="w-full grid grid-cols-1 gap-6 sm:grid-cols-2">
						<div>
							<label class="text-gray-700" htmlfor="first_name">
								Nombre
							</label>
							<input class="block w-full px-4 py-2 mt-2 text-gray-700  bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" type="text" name="first_name" value="{{ user.first_name }}"/>
						</div>
						<div>
							<label class="text-gray-700" htmlfor="last_name">
								Apellidos
							</label>
							<input class="block w-full px-4 py-2 mt-2 text-gray-700  bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" type="text" name="last_name" value="{{ user.last_name }}"/>
						</div>
						<div>
							<label class="text-gray-700" htmlfor="email">
								Email
							</label>
							<input class="block w-full px-4 py-2 mt-2 text-gray-700  bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" type="email" name="email" value="{{ user.email }}"/>
						</div>

						<div>
							<label class="text-gray-700" htmlfor="registration_date">
								Contraseña
							</label>
							<input class="block w-full px-4 py-2 mt-2 text-gray-700  bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" type="password" name="registration_date"/>
						</div>

						<div>
							<label class="text-gray-700" htmlfor="birth_date">
								Confirmar contraseña
							</label>
							<input class="block w-full px-4 py-2 mt-2 text-gray-700  bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" type="password" name="birth_date"/>
						</div>

					</div>
				</div>

				<div class="flex justify-end mt-8 gap-3">
					<button type="submit" class="px-6 py-2 text-center text-gray-100 items-center inline-flex text-base leading-5 font-semibold rounded-md bg-black hover:bg-gray-600 focus:outline-none focus:bg-gray-600">
						Guardar
					</button>
					<a href="/dashboard" class="close px-6 py-2 text-center items-center inline-flex text-base leading-5 font-semibold rounded-md bg-red-100 text-red-800" type="button">
						Cancelar
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
