<header class="bg-gray-50 border-b w-full">
  <div class="mx-auto px-4 py-8 sm:px-6 lg:pr-10">
    <div class="flex items-center justify-between gap-4">
      <div class="flex items-center gap-4 w-[60%]">
        <div class="mt-1">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
            ¡Bienvenido, {{full_name}}!
          </h1>

          <p class="mt-1.5 text-sm text-gray-500">
            Your website has seen a 52% increase in traffic in the last month. Keep
            it up! 🚀
          </p>
        </div>
      </div>

      <div class="flex items-center justify-end w-[50%]">
        <div class="relative">
          <label class="sr-only" for="search"> Buscar </label>
          <input class="h-10 w-full rounded-md border bg-white pe-10 ps-4 text-sm shadow-sm sm:w-80" id="search" type="search" placeholder="Buscar..." />
          <button type="button" class="absolute end-1 top-1/2 -translate-y-1/2 rounded-full bg-gray-50 p-2 text-gray-600 transition hover:text-gray-700">
            <span class="sr-only">Search</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
document.getElementById('search').addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
        window.location.href = '/dashboard/search?query=' + encodeURIComponent(this.value);
    }
});
</script>
