<div class="pb-6">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
		<!-- Miembros Activos -->
		<div class="bg-card text-card-foreground shadow rounded-lg border p-6">
			<div class="flex items-center justify-between mb-2">
				<h3 class="text-xl font-semibold">Miembros Activos</h3>
				<i class="fa-solid fa-person-circle-check text-xl text-gray-600"></i>
			</div>
			<p class="text-lg font-semibold">{{ active_members }}</p>
      <p class="text-sm">Miembros activos actuales</p>
		</div>

		<!-- Miembros Inactivos -->
		<div class="bg-card text-card-foreground shadow rounded-lg border p-6">
			<div class="flex items-center justify-between mb-2">
				<h3 class="text-xl font-semibold">Miembros Inactivos</h3>
				<i class="fa-solid fa-person-circle-minus text-xl text-gray-600"></i>
			</div>
			<p class="text-lg font-semibold">{{ inactive_members }}</p>
      <p class="text-sm">Miembros inactivos actuales</p>
		</div>

		<!-- Suma de Pagos -->
		<div class="bg-card text-card-foreground shadow rounded-lg border p-6">
			<div class="flex items-center justify-between mb-2">
				<h3 class="text-xl font-semibold">Total pagos</h3>
				<i class="fa-solid fa-dollar-sign text-xl text-gray-600"></i>
			</div>
			<p class="text-lg font-semibold">{{ total_payments }}€</p>
      <p class="text-sm">Cantidad total últimos 30 dias</p>
		</div>

		<!-- Pagos No Pagados -->
		<div class="bg-card text-card-foreground shadow rounded-lg border p-6">
			<div class="flex items-center justify-between mb-2">
				<h3 class="text-xl font-semibold">Total impagado</h3>
				<i class="fa-solid fa-triangle-exclamation text-xl text-gray-600"></i>
			</div>
			<p class="text-lg font-semibold">{{ unpaid_payments }}€</p>
      <p class="text-sm">Cantidad total últimos 30 dias</p>
		</div>
	</div>
</div>
